*{
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	text-decoration: none;
}
@import url('https://fonts.googleapis.com/css?family=Oswald');

.containerHeader {
	width: 100%;
	display: flex;
	justify-content: center; 
	background: rgba(255,255,255,1);
}

@media (max-width: 768px) {
	.containerHeader {
		justify-content: space-around;
		background-color: #FFFFFF;
	}
}


.containerHeadernav__image {
	width: 60px;
	height: 60px;

}

.containerHeader__nav {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	letter-spacing: 1.5px;
}

.containerHeadermenu__link {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	font-weight: 10;
	color: #64B486;
}

@media (max-width: 765px) {
	.containerHeadermenu__link {
		margin: 0.3em;
		padding: 0;
		font-size: 14px;
	}
}

@media (max-width: 478px) {
	.containerHeadermenu__link {
		margin: 0.3em; 
	}
}

@media (max-width: 350px) {
	.containerHeadermenu__link {
		letter-spacing: 1px;
	}
}

@media (max-width: 330px) {
	.containerHeadermenu__link {
		letter-spacing: 1px;
	}
}

@media (max-width: 320px) {
	.containerHeadermenu__link {
		letter-spacing: 1px;
	}
}
.containerFirst{
	width: 100%;
	height: 550px;
	background-image: url(assets/home.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.5;	
	margin-bottom: 5px;
}
.containerFirst--title{
	width: 32vw;
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	text-transform: uppercase;
}
@media (max-width: 425px){
	.containerFirst--title{
		width: 73vw;
		font-size: 30px;
	}
}
.containerProa{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
@media (max-width: 920px){
	.containerProa{
		justify-content: center;
	}
}
.containerProa__block{
	width: 65%;
	display: flex;
	justify-content: space-around;
}
@media (max-width: 768px){
	.containerProa__block{
		width: 100%;
		flex-direction: column;
	}
}
.containerProa__block--imageLogo{
	width: 250px;
	height: 250px;
	align-self: center;
}	
@media (max-width: 425px){
	.containerProa__block--imageLogo{
		padding-top: 25px;
	}
}
.containerProa__block--paragraph{
	width: 32vw;
	font-size: 16px;
	align-self: center;
	font-size: 17px;
}
@media (max-width: 768px){
	.containerProa__block--paragraph{
		width: 80%;
	}
}
.containerProa__blockImages{
	display: flex;
	flex-direction: column;
}
@media (max-width: 768px){
	.containerProa__blockImages{
		display: none;
	}
}
.containerProa__blockImages--image{
	width: 210px;
	height: 150px;
	padding-bottom: 10px;
	opacity: 0.7;
}
.containerInfo{
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #64B486;
	padding-top: 15px;
	padding-bottom: 15px;
}
@media (max-width: 920px){
	.containerInfo{
		flex-wrap: wrap;
	}
}
.containerInfo__block{
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 50%;
	padding: 10px;
	background-color: #FD837E;
	box-shadow: 0px 1px 1px 1px grey;
	text-align: center;
	text-transform: uppercase;
}
@media (max-width: 550px){
	.containerInfo__block{
		margin-bottom: 10px;
	}
}
.containerInfo__block--link{
	font-size: 17px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #fff;
}
.containerEncontros{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #FFF9BF;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 10px;
}
@media (max-width: 725px){
	.containerEncontros{
		display: none;
	}
}
.containerEncontros--title{
	font-family: 'Oswald', sans-serif;
	font-size: 32px;
	width: 15vw;	
}
@media (max-width: 920px){
	.containerEncontros--title{
		font-size: 30px;
	}
}
.containerEncontros--paragraph{
	width: 27vw;
	font-size: 16px;
}
.containerEncontros--image{
	width: 380px;
	height: 200px;
}
@media (max-width: 920px){
	.containerEncontros--image{
		width: 280px;
		height: 200px;
	}
}
.containerMedia{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
@media (max-width: 920px){
	.containerMedia{
		flex-wrap: wrap;
	}
}
.containerMedia__block--video{
	width: 480px;
	height: 250px;
}
@media (max-width: 480px){
	.containerMedia__block--video{
		width: 320px;
	}
}
.containerMedia__block{
	display: flex;
	flex-direction: column;
}
.containerMedia__block--title{
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	align-self: center;
	margin-bottom: 15px;
}
.containerMedia__block--paragraph{
	font-size: 18px;
	font-family: 'Oswald', sans-serif;	
}
.containerMedia__blockNews{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 20px;

}
.containerMedia__blockNews--image{
	width: 220px;
	height: 200px;
}
.containerMedia__blockNews--paragraph{
	width: 15vw;
	font-family: 'Oswald', sans-serif;
}	
@media (max-width: 920px){
	.containerMedia__blockNews--paragraph{
		width: 40vw;
		text-align: center;
	}
}






/*.contact{
	width: 100%;
	height: 80vh;
	display: flex;
	background-size: cover;
	background-image: url(assets/footer.jpg);
}
.contactAddress{
	width: 100%;
}
@media(max-width: 375px){
	.contact{
		width: 100vw;
		height: 900px;
		flex-flow: column wrap;
	}
}
.contactAddress__actions{
	width: 30vw;
	height: 13vh;
	display: flex;
	flex-wrap: wrap;
	padding: 65px;
	z-index: 1;
}
@media(max-width: 375px){
	.contactAddress__actions{
		width: 100vw;
		height: 20vh;
		display: flex;
		padding: 0px;
	}
}
.contactAddress__actionsTitle, .contactAddress__emailTitle, .contactCris__infoTitle{
	display: flex;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 100;
	color: white;
	font-family: 'Anton', sans-serif;
	z-index: 1;
}
@media(max-width: 375px){
	.contactAddress__actionsTitle{
		width: 100vw;
		height: 5vh;
		display: flex;
		flex-direction: column;
		font-size: 25px;
	}
}
.contactAddress__emailTitle{
	padding-top:1vh;
}
.contactAddress__actionsContent, .contactAddress__emailNumber, .contactAddress__emailAddress, .contactCris__infoContent{
	width: 28vw;
	height: 5vh;
	display: flex;
	font-size: 20px;
	color: white;
	font-weight: 10;
	font-family: arial;
	padding-bottom: 3vh;
	z-index: 1;
}
@media(max-width: 375px){
	.contactAddress__actionsContent{
		width: 100vw;
		height: 5vh;
		display: flex;
		padding-top: 70px;
		font-size: 15px;
	}
}
@media(max-width: 375px){
	.contactAddress__emailAddress{
		width: 100vw;
		height: 5vh;
	}
}
.contactAddress__email{
	width: 30vw;
	height: 13vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 40px;
	margin: 60px;
}
@media(max-width: 375px){
	.contactAddress__email{
		width: 100vw;
		height: 30vh;
		margin: 0px;
	}
	.contactAddress__emailTitle{
		width: 100vw;
		height: 10vh;
		display: flex;
		font-size: 20px;
		padding-top: 50px;
	}
}
.contactImg{
	width: 100vw;
	height: 335px;
}
.contactCrisimg{
	width: 300px;
	height: 500px;
	position: absolute;
	left: 63vh;
	bottom: 20vh;
	z-index: 1;
}
@media(max-width: 375px){
	.contactCrisimg{
		width: 130px;
		height: 200px;
		position: absolute;
		right: -1vh;
		bottom: 100%;
	}
}
.contactCris{
	width: 100%;
	height: 70vh;
	display: flex;
	flex-wrap:wrap;
	align-items: flex-end;
	justify-content: flex-end;
	z-index: 1;
}
@media{
	.contactCris__infoTitle{
		width: 100vw;
		height: 20vh;
		display: flex;
		justify-content: flex-end;
		font-size: 15px;
	}
}*/