*{
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}
.contact{
	width: 100vw;
	height: 80vh;
	display: flex;
	background-color: #69B284;
}
@media(max-width: 375px){
	.contact{
		width: 100vw;
		height: 200vh;
		flex-flow: column wrap;
	}
}
.contactAddress__actions{
	width: 30vw;
	height: 13vh;
	display: flex;
	flex-wrap: wrap;
	padding:10vh;
	z-index: 1;
}
@media(max-width: 375px){
	.contactAddress__actions{
		width: 70vw;
		height: 20vh;
		padding: 1vh;
	}
}
.contactAddress__actionsTitle, .contactAddress__emailTitle, .contactCris__infoTitle{
	display: flex;
	font-size: 25px;
	font-weight: 100;
	color: white;
	font-family: 'Anton', sans-serif;
	z-index: 1;
}
@media(max-width: 375px){
	.contactAddress__actionsTitle{
		width: 100vw;
		height: 10vh;
		display: flex;
		font-size: 22px;
	}
}
@media(max-width: 375px){
	.contactAddress__email{
		width: 100vw;
		height: 20vh;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin: 1px;
	}
	.contactAddress__emailTitle{
		display: flex;
		font-size: 20px;
	}
}
.contactAddress__emailTitle{
	padding-top:1vh;
}
.contactAddress__actionsContent, .contactAddress__emailNumber, .contactAddress__emailAddress, .contactCris__infoContent{
	width: 28vw;
	height: 5vh;
	display: flex;
	font-size: 20px;
	color: white;
	font-weight: 10;
	font-family: arial;
	padding-bottom: 3vh;
	z-index: 1;
}
@media(max-width: 375px){
	.contactAddress__actionsContent{
		width: 100vw;
		height: 10vh;
		font-size: 14px;
		margin: 2vh;
	}
}
.contactAddress__emailAddress{
	padding-top: 4vh;
	z-index: 1;
}
.contactAddress__email{
	width: 23vw;
	height: 13vh;
	display: flex;
	flex-wrap: wrap;
	padding: 10vh;
	z-index: 1;
}
.contactBackground{
	width: 100%;
	height: 535px;
	position: absolute;
	top: 100px;
	margin-top: -100px;
	opacity: 0.1;
}
.contactCris__img{
	width: 300px;
	height: 500px;
	position: absolute;
	left: 70vh;
	bottom: 20vh;
}
@media(max-width: 375px){
	.contactCris__img{
		width: 130px;
		height: 200px;
	}
}
.contactCris{
	width: 100%;
	height: 70vh;
	display: flex;
	flex-wrap:wrap;
	align-items: flex-end;
	justify-content: flex-end;
	z-index: 1;
}
