*{
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}
.contact{
	width: 100%;
	height: 80vh;
	display: flex;
	position: relative;
	background-size: cover;
	background-image: url(assets/footer.jpg);	
}
.contact:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #69B284;
	opacity: 0.9;
}
@media(max-width: 425px){
	.contact{
		width: 100vw;
		height: 650px;
		flex-flow: column wrap;
	}
}
@media(max-width: 768px){
	.contact{
		height: 700px;
	}
}
.contactAddress{
	width: 100%;
}
.contactAddress__actions{
	width: 30vw;
	height: 13vh;
	display: flex;
	flex-wrap: wrap;
	padding: 65px;
	z-index: 1;
}
@media(max-width: 425px){
	.contactAddress__actions{
		width: 100vw;
		height: 20vh;
		display: flex;
		padding: 0px;
	}
}
.contactAddress__actionsTitle, .contactAddress__emailTitle, .contactCris__infoTitle{
	display: flex;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 100;
	color: white;
	font-family: 'Anton', sans-serif;
	z-index: 1;
}
@media(max-width: 425px){
	.contactAddress__actionsTitle{
		width: 100vw;
		height: 5vh;
		display: flex;
		flex-direction: column;
		font-size: 25px;
	}
}
@media(min-width: 768px){
	.contactAddress__actionsTitle{
		font-size: 23px;
	}
}
.contactAddress__actionsContent, .contactAddress__emailNumber, .contactAddress__emailAddress, .contactCris__infoContent{
	width: 28vw;
	height: 5vh;
	display: flex;
	font-size: 20px;
	color: white;
	font-weight: 10;
	font-family: arial;
	padding-bottom: 3vh;
	z-index: 1;
}
@media(max-width: 425px){
	.contactAddress__actionsContent{
		width: 100vw;
		height: 5vh;
		display: flex;
		padding-top: 70px;
		font-size: 15px;
	}
}
@media(max-width: 768px){
	.contactAddress__actionsContent{
		font-size: 15px;
	}
}
@media(max-width: 425px){
	.contactAddress__emailAddress{
		width: 100vw;
		height: 5vh;
	}
}
.contactAddress__email{
	width: 30vw;
	height: 13vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 40px;
	margin: 60px;
}
@media(max-width: 425px){
	.contactAddress__email{
		width: 100vw;
		height: 30vh;
		margin: 0px;
	}
	.contactAddress__emailTitle{
		width: 100vw;
		height: 10vh;
		display: flex;
		font-size: 20px;
		padding-top: 50px;
	}
}
@media(min-width: 768px){
	.contactAddress__email{
		width: 40vw;
		height: 25vh;
		padding-top: 60px;
	}
}
@media(max-width: 768px){
	.contactAddress__emailTitle{
		font-size: 20px;
	}
}
@media(max-width: 768px){
	.contactAddress__emailAddress{
		font-size: 15px;
	}
	.contactAddress__emailNumber{
		font-size: 15px;
	}
}
.contactImg{
	width: 300px;
	height: 500px;
	position: absolute;
	left: 70vh;
	bottom: 0vh;
	z-index: 1;
}
@media(max-width: 425px){
	.contactImg{
		width: 165px;
		height: 250px;
		position: absolute;
		left: 1px;
	}
}
@media(min-width: 768px){
	.contactImg{
		width: 205px;
		height: 345px;
		left: 430px;
	}
}
.contactCris{
	width: 100%;
	height: 70vh;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: flex-end;
	z-index: 1;
	padding-bottom: ;
}
@media(max-width: 425px){
	.contactCris{
		width: 100vw;
		height: 300px;
		display: flex;
		justify-content: flex-end;
	}
}
@media(min-width: 768px){
	.contactCris{
		align-items: flex-end;
	}
}
.contactCris__infoTitle{
	display: flex;
	flex-direction: column;
}
@media(max-width: 425px){
	.contactCris__infoTitle{
		width: 86vw;
		height: 40px;
		display: flex;
		align-items: center;
		font-size: 15px;
	}
}
@media(min-width: 768px){
	.contactCris__infoTitle{
		font-size: 20px;
	}
}
.contactCris__infoContent{
	width: 23vw;
	height: 17vh;
	display: flex;
	align-items: flex-end;
}
@media(max-width: 425px){
	.contactCris__infoContent{
		width: 100%;
		height: 10vh;
		justify-content: flex-end;
		flex-wrap: wrap;
	}
}
@media(min-width: 768px){
	.contactCris__infoContent{
		height: 11vh;
	}
}
@media(max-width: 425px){
	.contactCris__infoContent--text{
		width: 57vw;
		height: 13vh;
		display: flex;
		justify-content: flex-end;
		font-size: 17px;
	}
}
@media(min-width: 768px){
	.contactCris__infoContent--text{
		font-size: 15px;
	}
}